@import url(https://fonts.googleapis.com/css?family=Parisienne);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

body {
    background-color: darkgrey;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}

a {
  color: purple;
}

h1 {
  color: white;
  font-family: 'Parisienne', cursive;
  font-size: 80px;
}

h2 {
  color: white;
  font-family: 'Parisienne', cursive;
  font-size: 30px;
}
