@import url(https://fonts.googleapis.com/css?family=Parisienne);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

h1 {
font-family: 'Parisienne', cursive;
font-size: 100px;
}

h2 {
font-family: 'Parisienne', cursive;
}

.navbar {
font-family: 'Amatic SC', cursive;
font-size: 30px;
}

.navbar-nav {
border-style: dotted;
padding: -10px;
float:right;
}
