@import url(https://fonts.googleapis.com/css?family=Parisienne);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

body {
    background-image: url("../../hmm.jpg") ;
}

a {
  color: purple;
}

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

h1 {
color: black;
font-family: 'Parisienne', cursive;
font-size: 100px;
right: 50px;
position: relative;
left: 240px;
top: -10px;
}

h2 {
font-family: 'Parisienne', cursive;
font-weight: bold;
position:relative;
bottom: 45px;
}

.navbar {
font-family: 'Playfair Display', serif;
font-size: 30px;
}

.navbar-nav {
background-image: url(../../hmm.jpg);
padding: -30px;
width: 400px;
margin: -10px;
position: relative;
left: 390px;
top: -15px;
}

div.col-md-4 {
  position: relative;
  left: 170px;
  bottom: 35px;
}

noon2.jpg {
  left: 10px;
}
