@import url(https://fonts.googleapis.com/css?family=Parisienne);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

h1 {
font-family: 'Parisienne', cursive;
font-size: 100px;
right: 50px;
position: relative;
left: 200px;
}

h2 {
font-family: 'Parisienne', cursive;
font-weight: bold;
position:relative;
bottom: 30px;
}

.navbar {
font-family: 'Amatic SC', cursive;
font-size: 30px;
position: center;
}

.navbar-nav {
border: 5px black dotted;
padding: -30px;
width: 290px;
margin: -10px;
position: relative;
left: 400px;
}
