@import url(https://fonts.googleapis.com/css?family=Parisienne);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Oregano);

body {
    background-color: darkgrey;
    font-family: 'Oregano', cursive;
}

a {
  color: purple;
}

h1 {
  color: white;
  font-family: 'Parisienne', cursive;
  font-size: 80px;
}

h2 {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 30px;
}
