@import url(https://fonts.googleapis.com/css?family=Parisienne);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

body {
    background-image: url("../../hmm.jpg") ;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    font-color: black;
}

a {
  color: purple;
}

h1 {
  color: black;
  font-family: 'Parisienne', cursive;
  font-size: 100px;
  left: 160px;
  position: relative;
  top: -10px;
}

h2 {
  color: darkgrey;
  font-family: 'Parisienne', cursive;
  font-size: 30px;
  top: -10px;
}

div.col-md-6 {
  top: -30px;
  position: relative;
  left: 220px;
}

div.col-md-3 {
  left: 200px;
  background-color: white;
}

.navbar {
font-family: 'Playfair Display', serif;
font-size: 30px;
}

.navbar-nav {
color: white;
padding: -30px;
width: 590px;
margin: -10px;
position: relative;
left: 390px;
top: -15px;
}
