<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  @import url(https://fonts.googleapis.com/css?family=Parisienne);
</head>

#h1
font-family: 'Parisienne', cursive;


<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
      <header class="navbar navbar-static-top">
        <nav class="navbar-collapse">
          <ul class="nav navbar-nav">
           <li>
             <a href="bootstrap.html">about</a>
           </li>
           <li>
             <a href="css.html">contact</a>
           </li>
           <li>
             <a href="components.html">yesturday</a>
           </li>
         </ul>
        </nav>
    </header>
      <div class="col-md-4">
  <h2>{{ page.title }}</h2>
  Pic
</div>
    <div class="col-md-4">
      <h2>{{ page.title }}</h2>
  Pic
</div>
  <div class="col-md-4">
  <h2>{{ page.title }}</h2>
  Pic
</div>
</body>
</html>
